body {
    margin: 100px 40px 10px 70px;
}

div {
    border: 1px solid black;
    width: 70%;
    margin: 30 auto;
    padding: 10px;
}

div.box{
	height: 500px;
	float: left;
	width: 200px;
	border: 2px dotted cyan;
	background: orange;
}


h1 {
    border: 1px solid black;
    font-size: 2em;
    color: navy;
    margin: 10px 255px 8px 30px;

}

p {
    border: 1px solid black;
    font-size: 1.4em;
    color: gold;
    margin: 3px 30px;
    padding-left: 70px;
}