div{
width: 40%;
height: 30%;
margin: auto;
background-color: #F8C471;
text-align: center;

}

table{

border: 1px solid black;
margin: auto;
border-collapse: collapse;

}

h2{
text-align: center;

}
td,th{
border: 5px ridge beige;
padding: 30px;
text-align: center ;
font-size: 1.3em;
font-weight: 900 ;
}
.naranja{
background-color: orange;
}
.amarillo{
background-color: yellow;
}
.blanco{
background-color: white;
}